
body {
    font-family: fantasy;
    font-size: 1rem;
}

/* styling the intro section */
/* displaying flex to put image along side name */
.row {
    display: flex;
    /* center the intro section */
    justify-content: center;
    align-items: center;
}

/* using flex to separate my name and intro image classes */
.my-name {
    flex: 1;
    text-align: center;
}

/* now I am bring the image closer to the name text */
.intro-image {
    flex: 1;
}

/*  styling which city */
.container-flex {
    display: flex;

}

table {
    width: 100%;
}

td, th {
    border: 1px solid black;
}

#place-text {
    margin: 1rem;
}


@media (max-width:720px) {
    body {
        font-size: 1em;
    }
    /* avoiding repeatition */
    #flex-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* making the name to be on top of the image */
    #centered {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* which city */

    table {
        width: 100%;
    }

    /* historical places */
    .row-reverse { 
        display: flex; 
        flex-direction: row-reverse;
    }
    .container{
        padding: 2rem;
    }
}

