body {
    background-color: #FFA69E;
    font-size: 1rem;
}

/* spaces around the containers */
.box-model {
    margin: 20px;
    padding: 10px;
}
/* spaces between the containers and between titles and paragraphs and images */
.box-model2 {
    margin-bottom: 20px;
}

.box-model3 {
    margin-left: 20px;
}

.box-model5 {
    margin-left: 20px;
}

/* ################################################################################# Header ######################################################################################################## */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25% !important;
}

header h1 {
    flex: 2;
}

#img01 {
    flex: 1;
}



/* ############################################################################### Main section #################################################################################################### */

.city {
    display: flex;
}

table {
    /* joining the border */
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black
}


/* ################################################################################ Historical section ################################################################################################ */

/* flex the outer container */
.container03 {
    display: flex;
}
/* flex the inner container */
.flex-inner {
    display: flex;
}


/* ################################################################################ Media Queries #################################################################################################### */

@media (max-width:855px) {
    body {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* header */
    header {
        flex-direction: column;
        /* fixing the margin-right and displaying the content to the center
           since we set it to margin-right now we kinda reset */
        margin-left: 25%;
    }
    /* main section */
    .city {
        flex-direction: column;
        /* kinda repeating here, i'll fix it later */
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* historical section */
    .container03 {
        flex-direction: column;
    }
    /* reversing the row */
    .row-reverse {
        flex-direction: row-reverse;
    }
    .box-model4 {
        margin-right: 20px;
    }

}